Source: vplants-amlobj
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-dev  (>= 2.6.6-3~), debhelper (>= 7), libvplants-tool, python-openalea.deploy, python-openalea.sconsx, libqt4-dev, libqt4-opengl-dev, libboost-python-dev, libreadline-dev, pkg-config, bison, flex


Package: libvplants-amlobj
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, ,libvplants-tool
Provides: ${python:Provides}
Description: aml objects

