Source: libvplants-mtg
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-dev, debhelper (>= 7), libvplants-tool, python-vplants.plantgl, libvplants-amlobj,python-openalea.deploy, python-openalea.sconsx, libqt4-dev, libqt4-opengl-dev, libboost-python-dev, libreadline-dev, pkg-config, bison, flex, , freeglut3-dev


Package: libvplants-mtg
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-vplants.plantgl, libvplants-amlobj
Provides: ${python:Provides}
Description: mtg structure

